@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.UserFE.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="createDto.userName" class="control-label"></label>
                <input asp-for="createDto.userName" class="form-control" />
                <span asp-validation-for="createDto.userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createDto.password" class="control-label"></label>
                <input asp-for="createDto.password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createDto.Phone" class="control-label"></label>
                <input asp-for="createDto.Phone" class="form-control" />
                <span asp-validation-for="createDto.Phone" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="createDto.RoleId" class="control-label"></label>
                <input asp-for="createDto.RoleId" class="form-control" />
                <span asp-validation-for="createDto.RoleId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="createDto.RoleId" class="control-label"></label>
                <select asp-for="createDto.RoleId" asp-items="ViewBag.UserRoles" class="form-control"></select>
                <span asp-validation-for="createDto.RoleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
