@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.HairServiceFE.EditModel

@{
    ViewData["Title"] = "Edit Hair Service";
}

<h1>Edit Hair Service</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HairService.ServiceId" />

            <div class="form-group">
                <label asp-for="updateServiceDto.ImageLink" class="control-label"></label>
                <input asp-for="updateServiceDto.ImageLink" class="form-control" />
                <span asp-validation-for="updateServiceDto.ImageLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="updateServiceDto.ServiceName" class="control-label"></label>
                <input asp-for="updateServiceDto.ServiceName" class="form-control" />
                <span asp-validation-for="updateServiceDto.ServiceName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="updateServiceDto.description" class="control-label"></label>
                <textarea asp-for="updateServiceDto.description" class="form-control"></textarea>
                <span asp-validation-for="updateServiceDto.description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="updateServiceDto.price" class="control-label"></label>
                <input asp-for="updateServiceDto.price" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="updateServiceDto.price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="updateServiceDto.estimateTime" class="control-label"></label>
                <input asp-for="updateServiceDto.estimateTime" class="form-control" type="time" min="00:00" max="00:59" />
                <span asp-validation-for="updateServiceDto.estimateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
