@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.FeedbackFE.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Feedback.FeedbackId" />
            @* <div class="form-group">
                <label asp-for="Feedback.UserId" class="control-label"></label>
                <select asp-for="Feedback.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Feedback.UserId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Feedback.Description" class="control-label"></label>
                <input asp-for="Feedback.Description" class="form-control" />
                <span asp-validation-for="Feedback.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.Status" class="control-label"></label>
                <input asp-for="Feedback.Status" class="form-control" />
                <span asp-validation-for="Feedback.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.CreateDate" class="control-label"></label>
                <input asp-for="Feedback.CreateDate" class="form-control" />
                <span asp-validation-for="Feedback.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.CreateBy" class="control-label"></label>
                <input asp-for="Feedback.CreateBy" class="form-control" />
                <span asp-validation-for="Feedback.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.UpdateDate" class="control-label"></label>
                <input asp-for="Feedback.UpdateDate" class="form-control" />
                <span asp-validation-for="Feedback.UpdateDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Feedback.UpdateBy" class="control-label"></label>
                <input asp-for="Feedback.UpdateBy" class="form-control" />
                <span asp-validation-for="Feedback.UpdateBy" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
